extensions:
  health_check:

receivers:
  hostmetrics:
    collection_interval: 5s
    scrapers:
      cpu:
      load:
      memory:
      disk:
      filesystem:
      network:
      processes:

processors:
  batch:
  resourcedetection:
    detectors: [env, system, ec2]

exporters:
  logging:
    logLevel: debug
  otlp:
    endpoint: {{ otlp_endpoint }}
    {% if is_local -%}
    tls:
      insecure: true
    {% else -%}
    headers:
      api-key: {{ nr_license_key }}
    {% endif %}

service:
  pipelines:
    metrics:
      receivers: [hostmetrics]
      processors: [batch, resourcedetection]
      exporters: [logging, otlp]

  extensions: [health_check]